@use '../../themes/theme' as *;
@use '../../abstracts/variables' as *;

.minicalendar-container {
  padding: $space-4 $space-6;

  position: absolute;
  top: $size-4xl;
  left: 0;

  background-color: var(--surface-container-low);
  border-radius: $radius-md;
  z-index: $z-index-overlay;
}

.minicalendar-header {
  margin-bottom: $space-4;

  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  align-items: center;

  .info, .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: $space-2;
  }
}

.minicalendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: $space-2;
}

.minicalendar-day {
  padding: $space-1;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: $radius-full;
  background-color: var(--surface-container);

  &:hover {
    cursor: pointer;
    background-color: var(--primary);
  }
}

.minicalendr-inactive {
  color: var(--on-surface-variant);
}