@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {

  --primary:#f7cf4c;
  --on-primary: #131111;
  --primary-container:#f7efda;
  --on-primary-container: #ebb962;

  --secondary: #beccda;
  --on-secondary: #302B2B;
  --secondary-container: #e3eeec;
  --on-secondary-container: #a0b3c2;

  --tertiary: #ea9ab2ff;
  --on-tertiary: #302B2B;
  --tertiary-container: rgb(255, 226, 244);
  --on-tertiary-container: #e27396ff;

  --error: #D03342;
  --on-error: #FFFFFF;
  --error-container: #F1DDDC;
  --on-error-container: #792029;

  --neutral: #888888;
  --on-neutral: #222222;
  --neutral-container: #F2F2F2;
  --on-neutral-container: #888888;

  --surface: #FDFBF8;
  --on-surface: #302B2B;
  --on-surface-variant: #958F8F;

  --surface-container-lowest: #F6F6F4;
  --surface-container-low: #F1F0EE;
  --surface-container: #EDEBE9;
  --surface-container-high: #E8E6E3;
  --surface-container-highest: #E3E1DD;

  --selection: #FBCD84;
  --on-selection: #302B2B;

  --outline: #e0a537;
  --outline-variant: #ddd0b6;

  --shadow: #16161610;
};

[data-theme="dark"] {
  --primary:#f7cf4c;
  --on-primary: #131111;
  --primary-container:#35332f;
  --on-primary-container: #8c7347;

  --secondary: #beccda;
  --on-secondary: #302B2B;
  --secondary-container: #cbd8da;
  --on-secondary-container: #7e8d98;

  --tertiary: #ea9ab2ff;
  --on-tertiary: #302B2B;
  --tertiary-container: rgb(255, 226, 244);
  --on-tertiary-container: #e27396ff;
  
  --error: #D03342;
  --on-error: #FFFFFF;
  --error-container: #F1DDDC;
  --on-error-container: #792029;

  --neutral: #888888;
  --on-neutral: hsl(0, 0%, 13%);
  --neutral-container: #F2F2F2;
  --on-neutral-container: #888888;

  --surface: #1a1a1a;
  --on-surface: #d6d3cd;
  --on-surface-variant: #666666;

  --surface-container-lowest: hsl(0, 0%, 12%);
  --surface-container-low: hsl(0, 0%, 16%);
  --surface-container: hsl(0, 0%, 18%);
  --surface-container-high: hsl(0, 0%, 20%);
  --surface-container-highest: hsl(0, 0%, 22%);

  --selection: #FBCD84;
  --on-selection: #302B2B;

  --outline: #e0a537;
  --outline-variant: #635743;

  --shadow: #16161610;
}


