@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$p: 16px;
$h1: 24px;
$h2: 20px;


// light

// Primary:  – #4A6D7C

// Accent:  – #F5C33B

// Background:  – #F2F4F6

// Text:  – #333333

// Buttons:  – #80D0D4


// dark

// Primary:  – #4A6D7C

// Accent:  – #F5C33B

// Background:  – #1F1F1F

// Text:  – #E5E5E5

// Buttons:  – #80D0D4
