@use '../../themes/theme' as *;
@use '../../abstracts/variables' as *;

.databaseeditcard-container {
  width: 25%;
  max-width: 500px;
  height: auto;
  padding: $space-8;
  gap: $space-1;
  margin-bottom: $size-8xl;

  display: flex;
  flex-direction: column;
  align-self: flex-start;

  background-color: var(--surface-container-lowest);
  border-radius: $radius-md;

  @media (max-width: $breakpoint-xl) {
    width: 100%;
    max-width: 400px;
  }

  @media (max-width: $breakpoint-sm) {
    width: 100%;
    max-width: 320px;
  }
}

.databaseeditcard-title {
  margin: $space-2 0;
  color: var(--on-surface-variant);
}