@use '../../themes/theme' as *;
@use '../../abstracts/variables' as *;

$width-left: 90%;
$width-right: 100% - $width-left;

.manageitem-container {
  width: 100%;
  height: $size-3xl;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.manageitem-container-left {
  width: $width-left;
  gap: $space-2;

  display: flex;
  flex-direction: row;
  position: relative;

  .left {
    width: 150px;
    padding-left: $space-1;
    
  }

  .right {
    width: 60px;
    padding-left: $space-2;
  }
}


.manageitem-container-right {
  width: $width-right;
  gap: $space-2;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
