@use '../../themes/theme' as *;
@use '../../abstracts/variables' as *;

$width-left: 80%;
$width-right: 100% - $width-left;

.manageitem-container {
  width: 100%;
  height: $size-4xl;
  padding: 0 $space-2;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-radius: $radius-sm;
  border-bottom: 1px solid var(--surface-container);
}

// .manageitem-container{
//   &:nth-child(even) {
//     background-color: var(--surface-container-low);
//   }
// }

.manageitem-container-left {
  width: $width-left;
  gap: $space-2;

  display: flex;
  flex-direction: row;
  position: relative;

  .left {
    width: 150px;
    padding-left: $space-1;
    
  }

  .right {
    width: 60px;
    padding-left: $space-2;
  }
}


.manageitem-container-right {
  width: $width-right;
  gap: $space-2;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
