@use '../../themes/theme' as *;
@use '../../abstracts/variables' as *;

.settingmenusidebar-container-full {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.settingmenusidebar-title {
  padding: 0 $space-4;
  color: var(--on-surface-variant);
  font-weight: $font-weight-bold;
  margin-bottom: $space-4;
}

.settingmenusidebar-option {
  width: 100%;
  padding: $space-2 $space-4;
  &:hover {
    cursor: pointer;
  }
}



.settingmenusidebar-option-selected {
  background-color: var(--surface-container-low);
  position: relative;
}



.settingmenusidebar-container-collapsed {

  .options {
    height: 100%;
    padding-top: $space-8;

    position: fixed;
    top: 0;
    left: 10%;
    background-color: var(--surface);

  }

  @media (min-width: ($breakpoint-md+1)) {
    display: none;
  }
}