@use '../../themes/theme' as *;
@use '../../abstracts/variables' as *;



.settingmenuitem-container {
  display: flex;
  flex-direction: column;
  padding: 0 $space-4;
  margin: $space-2 0;

  a {
    text-decoration: underline;
    margin-top: $space-1;
  }
}

.settingmenuitem-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $space-1;
}


.settingmenuitem-content {
  display: flex;
  flex-direction: row;
  gap: $space-4;
  align-items: center;
  justify-content: space-between;

  .description, .actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $space-2;
  }

  .actions {
    justify-content: flex-end;
  }

  .description {
    color: var(--on-surface-variant);
  }

  .text {
    display: flex;
    flex-direction: column;
  }
}