@use '../../themes/theme' as *;
@use '../../abstracts/variables' as *;

.recipecardfulldisplay-container {
  margin-bottom: $space-6;
  // height: 350px;
  width: 22%;
  min-width: 320px;

  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  background-color: var(--surface);
  border-radius: $radius-md;

  &:hover {
    cursor: pointer;
  }
}

.recipecardfulldisplay-text-info-container {
  height: 150px;
  padding: $space-8;
}

.recipecardfulldisplay-text-info-container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .right {
    display: flex;
    flex-direction: row;
  }
}

.recipecardfulldisplay-title {
  margin-bottom: $space-1;
}


