@use '../../themes/theme' as *;
@use '../../abstracts/variables' as *;

.recipecardlistdisplay-container {
  width: 100%;
  max-width: 900px;
  padding: $space-2 $space-4;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: $space-2;
  position: relative;

  border-radius: $radius-md;
  background-color: var(--surface);

  &:hover {
    cursor: pointer;
  }

  .right, .left {
    display: flex;
    flex-direction: row;
  }
  .right {
    align-items: center;
    flex-wrap: wrap;
  }
  .left {
    gap: $space-2;
    align-items: flex-start;
  }

  .main-info {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: $space-2;

    @media (max-width: $breakpoint-sm) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  .ministats-container {
    white-space: nowrap;
    flex-wrap: nowrap;
  }

  .tags-container {
    margin: 0;
  }
}

.recipecardlistdisplay-date {
  color: var(--on-surface-variant);
}