@use '../../themes/theme' as *;
@use '../../abstracts/variables' as *;

.buttongroup-container {
  padding: $space-8 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $breakpoint-sm) {
    padding: 0 $space-4;
    flex-direction: row;
  }
}

.buttongroup-sub-container-bottom {
  display: flex;
  flex-direction: column;
  gap: $space-4;
  justify-content: center;
  align-items: center;

  @media (max-width: $breakpoint-sm) {
    flex-direction: row;
  }
}