@use '../../themes/theme' as *;
@use '../../abstracts/variables' as *;

.ingredientcard-dropdown-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  
}

.ingredientcard-ingredients-container-view {
  gap: $space-2;
  li {
    padding-bottom: $space-1;
    border-bottom: 1px solid var(--surface-container);
  }
}

.ingredientcard-ingredients-container-edit {
}



.ingredientcard-ingredient-container {
  // display: flex;
  // flex-direction: row;
  width: 100%;
  gap: $space-2;
  display: grid;
}

.ingredientcard-ingredients-container-view
.ingredientcard-ingredient-container {
  grid-template-columns: repeat(3, 1fr);
}

.ingredientcard-ingredients-container-edit
.ingredientcard-ingredient-container {
  grid-template-columns: 28px 1fr 100px 1fr;
}

.ingredientcard-ingredient-name {
  // width: 150px;
  overflow-x: auto;
}

.ingredientcard-ingredient-quantity {
  // width: 100px;
  overflow-x: auto;
}

.ingredientcard-ingredient-unit {
  // width: 100px;
  overflow-x: auto;
}