@use '../themes/theme' as *;
@use '../abstracts/variables' as *;

.navbar-container {
  width: 100%;
  height: $size-5xl;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 $space-8;

  
  z-index: $z-index-fixed;

  color: var(--on-surface);
  background-color: var(--surface);
  border-bottom: 1px solid var(--outline-variant);

  


  span {
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }
}

.navbar-container-full {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand-info {
  height: 100%;
  gap: $space-2;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: 640px) {
    display: none;
  }
}


.navbar-button-container-mid {
  height: 100%;
  gap: $space-8;

  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: $breakpoint-lg) {
    gap: $space-2;
  }
  @media (max-width: 640px) {
    width: 100%;
  }

  a {
    @media (max-width: ($breakpoint-md+1)) {
      display: none;
    }
  }
}

.navbar-button-container-right {
  gap: $space-4;
  position: relative;

  display: flex;
  flex-direction: row;
}

.navbar-link {
  width: auto;
  height: 100%;
  max-height: $size-5xl;

  gap: $space-2;
  padding: $space-2;

  display: flex;
  justify-content: center;
  align-items: center;

}

.navbar-link-on-focus {
  border-bottom: 2px solid var(--primary);
}

.navbar-bluroverlay {
  z-index: $z-index-overlay;
}


.navbar-setting-button {
  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.navbar-dropdownmenu-button {
  @media (min-width: ($breakpoint-md+1)) {
    display: none;
  }
}

.navbar-dropdownmenu-container {
  width: 120px;
  margin-top: $size-5xl;
  margin-right: $space-8;
  padding: $space-2;

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: var(--surface);
  border-radius: $radius-md;

  @media (min-width: ($breakpoint-md+1)) {
    display: none;
  }
}