



////////////////////////////////////////////

// png (icon) filters

@mixin filter-secondary {
  filter: brightness(0) saturate(100%) invert(92%) sepia(16%) saturate(420%) hue-rotate(135deg) brightness(92%) contrast(92%);
  [data-theme="dark"] & {
    filter: brightness(0) saturate(100%) invert(92%) sepia(16%) saturate(420%) hue-rotate(135deg) brightness(92%) contrast(92%);
  }
}

@mixin filter-on-secondary-container {
  filter: brightness(0) saturate(100%) invert(69%) sepia(21%) saturate(1032%) hue-rotate(136deg) brightness(84%) contrast(95%);
  [data-theme="dark"] & {
    filter: brightness(0) saturate(100%) invert(69%) sepia(21%) saturate(1032%) hue-rotate(136deg) brightness(84%) contrast(95%);
  }
}