



////////////////////////////////////////////

// png (icon) color filters

@mixin filter-secondary {
  // filter: brightness(0) saturate(100%) invert(92%) sepia(16%) saturate(420%) hue-rotate(135deg) brightness(92%) contrast(92%);
  // [data-theme="dark"] & {
  //   filter: brightness(0) saturate(100%) invert(92%) sepia(16%) saturate(420%) hue-rotate(135deg) brightness(92%) contrast(92%);
  // }
}

@mixin filter-on-secondary-container {
  // filter: brightness(0) saturate(100%) invert(69%) sepia(21%) saturate(1032%) hue-rotate(136deg) brightness(84%) contrast(95%);
  // [data-theme="dark"] & {
  //   filter: brightness(0) saturate(100%) invert(69%) sepia(21%) saturate(1032%) hue-rotate(136deg) brightness(84%) contrast(95%);
  // }
}


@mixin filter-primary {
  // #f7cf4c
  filter: brightness(0) saturate(100%) invert(88%) sepia(57%) saturate(1785%) hue-rotate(319deg) brightness(103%) contrast(94%) !important;
}

@mixin filter-on-primary {
  // #131111
  filter: brightness(0) saturate(100%) invert(6%) sepia(13%) saturate(264%) hue-rotate(314deg) brightness(99%) contrast(98%) !important;
}

@mixin filter-on-surface-variant-light {
  // #958F8F
  filter: brightness(0) saturate(100%) invert(38%) sepia(16%) saturate(10%) hue-rotate(4deg) brightness(99%) contrast(94%) !important;
}
@mixin filter-on-surface-variant-dark {
  // #666666
  filter: brightness(0) saturate(100%) invert(60%) sepia(4%) saturate(275%) hue-rotate(314deg) brightness(94%) contrast(91%) !important;
}