@use '../../themes/theme' as *;
@use '../../abstracts/variables' as *;

$container-width-right: 75%;
$container-width-left: 100% - $container-width-right;

.recipesbycategory-container {
  width: $container-width-right;
  height: 100%;
  margin-left: $container-width-left;
  padding-top: $size-8xl;
  position: relative;

  background-color: var(--surface-container-lowest);
}
