@use '../../themes/theme' as *;
@use '../../abstracts/variables' as *;

.searchresult-container {
  padding: 0 $space-4;

  overflow-y: scroll;
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-columns: repeat(4, 1fr);
  gap: $space-4;

  @media (max-width: $breakpoint-2xl) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: $breakpoint-lg) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $breakpoint-xs) {
    grid-template-columns: repeat(1, 1fr);
  }

  &::-webkit-scrollbar {
    display: none;
  }
  &::after {
    content: "";
    height: $size-8xl;
  }
}