@use '../../themes/theme' as *;
@use '../../abstracts/variables' as *;

.sidepanel-container {
  width: 80%;
  max-width: 1200px;
  height: 100%;
  padding-top: $size-8xl;

  position: fixed;
  top: 0;
  right: 0;

  background-color: var(--surface-container);
}