@use '../themes/theme' as *;
@use '../abstracts/variables' as *;


.recipecard-container {
  margin-bottom: $space-6;
  max-height: 500px;
  width: 400px;

  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  background-color: var(--surface);
  border-radius: $radius-md;

  &:hover {
    cursor: pointer;
  }
}



.recipecard-text-info-container {
  padding: $space-8;
}

.recipecard-text-info-container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left {

  }
  .right {
    display: flex;
    flex-direction: row;
  }
}

.recipecard-text-info-container-bottom {

}