@use '../../themes/theme' as *;
@use '../../abstracts/variables' as *;

.icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: visible;

  
}

.icon-img {
  $size: 20px;
  width: $size;
  height: $size;

  [data-theme="dark"] & {
    filter: brightness(0) invert(1);
  }
}

.icon-description {
  position: absolute;
  top: -$space-8;
  z-index: $z-index-tooltip;
  white-space: nowrap;
}

.icon-popup {
  position: absolute;
  top: -50%;
  right: 120%;
  z-index: $z-index-tooltip;
}